__pycache__
.cache
.coverage
.coverage.*
.dockerignore
.drone.yml
.DS_Store
.env
.git
.gitignore
.Python
.tox
*,cover
*.log
*.pyc
*.pyd
*.pyo
coverage.xml
db.sqlite3
docker-compose.yml
Dockerfile
pip-delete-this-directory.txt
pip-log.txt
README.md